.css-46bh2p-MuiCardContent-root {
    padding: 0px;
    text-align: center;
    background-color: #eae8fe;
    color: #8463e6;
}

.css-46bh2p-MuiCardContent-root {
    padding: 8px !important;
}

.css-185gdzj-MuiCardHeader-root{
    background-color: #f9f9fb;
}

.css-z1fc34-MuiPaper-root-MuiCard-root{
    margin-block: 6px;
}

.services{
    text-decoration: underline;
}